extends layout

block content
    h1#Tapchan .TAPc-han
    //-canvas#thegame
        script.
            $('#thegame').width(window.innerWidth).height(window.innerHeight);
        //You just lost it.
    div.guiContainer
        button#joinGame Join Game
        button#tryAgain(disabled hidden) Try Again
        button#reconnect(disabled hidden) Reconnect

        div.hud
            div Latency:
                span#latency N/A
            div Average:
                span#average N/A
            div#score
    div#pixi